@font-face {
	font-family: mFont;
	src: "img/MyriadPro-Light.ttf";
    }
    
body {
    font-family: "MyriadPro-Light.ttf";
    src: url('img/MyriadPro-Light.ttf');
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    }

.main{ background: #252c35!important }

.iframe_mx {
	width: 100%;
	height: 100%;
	border:none;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 17px 45px;
	color: #657892;
	border-left: 4px solid #2b333e;
}
.nav>li>a:hover, .nav>li>a:focus, .nav>li>a.active {
	position: relative;
	display: block;
	padding: 17px 45px;
	color: #3b98c8;
	background: #252c35;
	border-left: 4px solid #3b98c8
}
.nav > li > div {
    color:#3b98c8;
	background: #141a21;
	display: none;
}
.nav >li > div> ul> li {
	padding: 10px 50px;
}
.nav >li > div> ul {
	padding: 0
}
.nav >li> div >ul> li > a:hover, .nav >li> div >ul> li > a:focus {
	color: #3b98c8;
	background: #141a21;
}
.navbar-default {
	border-radius: 0;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #252c35;
	box-shadow: 0 0 15px #000;
}

.navbar-default .brand {
    padding: 0px 20px;
}

a:hover,a:focus{
    text-decoration:none;
    outline:0;
}

#wrapper .sidebar{
    width:360px;
    height:100%;
    float:left;
    background-color:#2b333e;
    position:fixed;
}


#wrapper .main{width:calc(100% - 260px);left:0;position:relative;float:right;background-color:#f5f5fa}

#wrapper #sidebar-nav,#wrapper .main{padding-top:80px;overflow: hidden;}

/* input[type="checkbox"]{
    background-color:#3b98c8!important;
} */