<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>


<title> HomePage </title>

<meta name="keywords" content=""/>
<meta name="description" content=""/>


<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../static/css/styles.css"/>

</head>
<body>


<div class="main-content">
<div class="wrapper">


<div class="header">
    <div class="logo"><img name="logo"src="../static/imgs/logo.png" alt="" /></div>
        <div class="navi">
            <ul>
                <li><a href="../signup">Sign up</a></li>
            </ul>
        </div>
    </div>

    <div class="slider">
        <div class="slide">
            <div class="slider-txt">
                <h2>MODULE</h2>
                <h3>Deliver & Visualisation</h3>
                <p>It is a good website for acadimics to create modules in department of Conputer Science in the University of Sheffield.This website also support administrators to manage the module according to the Visualized picture.</p>
                <div class="bttons">
                    <a href="../signin" class="bt">Lecturer</a>
                    <a href="../signin_1" class="bt bt2">Administrator</a>
                </div>
            </div>
        <div class="slider-img"> <!--<img src="" alt="" />-->> </div>
</div>
    </div>
</div>
</div>
</body>
</html>
