<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mainpage</title>
<link rel="stylesheet" type="text/css" href="css/style.css">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script>
    
    function delete_module(module_code){

        const input=JSON.stringify({module_code: module_code})
        $.ajax(
            {
                url: "../delete_module",
                data: input,
                contentType: 'application/json',
                type: 'POST',

                success: function(response){
                    module_code=response.module_code
                    alert("The module %s have been deleted" % module_code)
                }

                
            }
        )
    }

</script>


</head>
<h1>welcome {{ name }} !</h1>
<tbody>
{% for module in module_list %}
    <tr>
        <td>
            <form action="/moduleinfo_edit/" method="post">
                <input type="submit" name="submit" value={{module.module_code}}>
            </form>
        </td>
    </tr>
{% endfor %}

</tbody>

<body>
<form action="/mainpart/" method="post">
   Add module please click <input type="submit" name= "add Module" value="add Moudle">
</form>
<form action="/cancle/" method="post">

    <td>
        <select name="deleteModule">
        {% for line in data %}
        <option value="{{ line }}" id="{{line}}">{{line}}</option>
        {% endfor %}
        </select>
    </td>
    <input type="submit" value="delete Module"/>

</form>
<form action="/logout/" method="post">
    <input type="submit" value="log out">
</form>
</body>
</html>
