<html>
<head>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
        {{ hscript | safe }}
        {{ tscript | safe }}
        
        <title>  Visualization </title>
</head>
<body>
  {{ hdiv | safe }}
  {{ tdiv | safe }}



</body>
</html>
