<!doctype html>




























{#<!doctype html>#}
<head>
<title> Welcome </title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/Vstyle.css">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script >
  $(window).on("load", function () {

  $('#start-date').val(getSearchTime_s());
  $('#end-date').val(getSearchTime_e());
  $('#startdata').val(getSearchTime_s());
  $('#enddata').val(getSearchTime_e());

  $(".main").css({
    height: $("#sidebar-nav").outerHeight()
  });

  $(".iframe_link").on("click", function () {
    var url = $(this).attr("href");
    $(".iframe_mx").attr("src", url+'?module_iud="COM6103"');
    return false;
  });

  $(".confirm-button").on("click", function () {
      $.each($("input[type='checkbox']:checked"),function(){
          window.alert("xuanzhong:",$(this).val());
      });
  });




  $(".filter").click(function () {
    $(this).next().slideToggle();
  });

  $(".subtitle").click(function () {
    $(this).next().slideToggle();
  });
});
</script>
<script>
  function getSearchTime_s(){
    return '2018-'+'04-'+'25'
}
  function getSearchTime_e(){
    return '2019-'+'04-'+'25'
}
</script>
</head>

<body >
<div id="wrapper">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand"> <a href="index.html"><img src="../static/img/logo.png" width=150px; height=75px;></a> </div>
  </nav>

  <div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
      <nav>
        <ul class="nav">
          <li><a href="mainpart_admin.html" class="iframe_link"><span>Module</span></a></li>
          <li><a href="showcharts/"  class="iframe_link"><span>Visulization</span></a></li>
            <li><a href="/logout/"><span>Log Out</span></a></li>
		  <li>

{#      <form id='form' action="/filter/"  method="post">#}
{#      <a href="javascript:;" class="filter"> <span>Filter</span> </a>#}
{#            <div>#}
{#              <ul>#}
{#                  <div class="subtitle">Submission Date</div>#}
{#                  <div>#}
{#                      <li class="time"><div class="date">Start</div><input name="start_time" id="start-date" type="Date"class="style-filter"></li>#}
{#                      <li class="time"><div class="date">End</div><input name="end_time" id="end-date" type="Date"class="style-filter"></li>#}
{#                  </div>#}
{#                  <div class="subtitle">Assignment Format</div>#}
{#                  <div>#}
{#                      <li><div class="check_box_list"><input name="format" type="checkbox" value="Assessed lab"> Assessed lab</div></li>#}
{#                      <li><div class="check_box_list"><input name="format" type="checkbox" value="MOLE quiz"> Mole quiz</div></li>#}
{#                      <li><div class="check_box_list"><input name="format" type="checkbox" value="Formal exam"> Formal exam</div></li>#}
{#                      <li><input name="check_box_list" type="checkbox" value="others" class="style-filter">others</li>#}
{#                  </div>#}
{#                  <div class="subtitle">Level</div>#}
{#                  <div>#}
{#                      <li><div class="check_box_list"><input name="level" type="checkbox" value="1"> 1</div></li>#}
{#                      <li><div class="check_box_list"><input name="level" type="checkbox" value="2"> 2</div></li>#}
{#                      <li><div class="check_box_list"><input name="level" type="checkbox" value="3"> 3</div></li>#}
{#                      <li><div class="check_box_list"><input name="level" type="checkbox" value="4"> 4</div></li>#}
{#                      <li><div class="check_box_list"><input name="level" type="checkbox" value="PGT"> PGT</div></li>#}
{#                  </div>#}
{#                  <div class="subtitle">Module</div>#}
{#                      <div style="position:relative;overflow-y:auto; width:250px; height:65px;">#}
{#                          {% for line in modules %}#}
{#                              <tr><li><input name="modules" type="checkbox" value={{line}} class="style-filter">&nbsp&nbsp&nbsp{{line}}</li></tr>#}
{#                          {% endfor %}#}
{#                       </div>#}
{#                  <li><input type="submit" value="confirm" class="confirm-button"></li>#}
{#              </ul>#}
{#            </div>#}
{#          </form>#}
{#          <form id='send_email' action="/sendemail/" method="post">#}
{#            <a href="javascript:;" class="subtitle"> <span>Get emails</span></a>#}
{#            <div>#}
{#                <ul>#}
{#                    <li class="time"><div class="date">Start</div><input name="startdata" id="startdata" type="Date"class="style-filter"></li>#}
{#                    <li class="time"><div class="date">End</div><input name="enddata" id="enddata" type="Date"class="style-filter"></li>#}
{#                    <li><input type="submit" value="Get Emails" class="getemail-button"></li>#}
{#                </ul>#}
{#            </div>#}
{#          </form>#}
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <div class="main">
    <div class="main-content" style="height: 100%;">
      <iframe src="mainpart_admin.html" class="iframe_mx uicss-cn"></iframe>
    </div>
  </div>
</div>
</body>
</html>
